<% include ../layout %>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/logout" style="text-align: center">Logout</a>
        <h1><%= title %></h1>
        <hr>
        <h2><%= task.name %></h2>
        <p><b>Author:</b> <%= task.author %></p>
        <p><b>Description:</b> <%= task.description %></p>
        <p><b>Importance:</b> <%= task.importance %></p>
        <p><b>Status:</b> <%= task.status %></p>
        <p><b>Created:</b> <%= task.created %></p>
        <p><b>Deadline:</b> <%= task.deadline %></p>
        <% if (task.status == 'closed') { %>
          <p><b>Closed:</b> <%= task.closed %></p>
        <% } %>
        <p><a href="/tasks/update/<%= task._id %>" type="button" class="btn btn-default">Edit</button></a>
          <form method="delete" action="/tasks/delete/<%= task._id %>">
            <div class="form-group">
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</body>
</html>
